/*
simply utility class to make a toolbar with flexbox, 
so that the buttons are aligned and spaced nicely.
*/

.mod-toolbar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 12px;
}